[2017-01-29 19:25] jellymann opened #5 "Nil pointer dereference"
Hi, I'm trying anycable with my Rails app for the first time. I've just set everything up and I'm getting the following error:

[code]

I don't know what I'm doing wrong. Can somebody give me some tips?

[2017-01-30 08:12] palkan commented on #5
Looks like RPC call failed. Can you, please, provide me with RPC server logs? (To turn on verbose logging start it with `ANYCABLE_DEBUG=1 ./bin/anycable`).

Also, which versions of `anycable-go` and `anycable` gem do you use?

[2017-01-31 20:17] jellymann commented on #5
I'm using the latest versions of everything at the time of this writing.

Looks like the problem isn't with anycable-go (should probably move this anycable-rails then)

Looking at the debug output, there's a problem with me logging with the user email as a tag:
[code]

This comes from my application connection:
[code]

[2017-01-31 21:22] jellymann commented on #5
I've solved my problem for the time being. Commenting out that line solves the error.

I had another issue, that my messages weren't being received by my clients (except for pings and the usual actioncable messages). But I resolved it by putting my initial broadcasts in a thread that runs a second after subscribing to a channel.

[2017-01-31 21:22] #5 closed

[2017-07-03 14:39] jurajmasar opened #7 "Make "Auth Failed" easier to debug"
Thank you @palkan for this wonderful gem.

I'm trying to deploy Anycable with Anycable-go using Dokku (docker-based deployment scripts utilizing Heroku buildpacks). While Anycable-go worked for me out of box on localhost, I'm having troubles making it work on production, behind Nginx.

When I run anycable-go using
`/app/bin/anycable-go/anycable-go-0.4.1-linux-amd64 -redis=[redacted] -rpc=localhost

[2017-07-03 15:03] palkan commented on #7
Hi, Juraj!

Could you, please, show me your nginx configuration, Connection `#connect` method (or how do you authenticate connections) and also RPC server logs (run it with `ANYCABLE_DEBUG=1` to get more verbose logs)?

[2017-07-03 16:31] jurajmasar commented on #7
Hi @palkan, thanks for your reply - looking into `Connection#connect` I was able to identify an issue.

I've originally thought that there was some kind of authentication problem between the Go instance and the RPC server. I suggest making "Auth Failed" more descriptive. :-)

Thanks again!

[2017-07-13 08:03] EsdrasEtrenne opened #8 "How to install this for mac?"
I am looking at these files for anycable and my mac will not let me install them because they are not actual files like .dmg, I do not know how to use go but I saw that as the other option for installing anycable-go. How do we install this?

[2017-07-13 09:16] palkan commented on #8
Just download the binary (see [Downloads](https://github.com/anycable/anycable-go/blob/master/DOWNLOADS.md)) and update its permissions (`chmod +x path/to/anycable-go`).

In order to run it from anywhere you have to put it somewhere in your PATH, e.g into `/usr/local/bin`.

Or, if you have Go environment installed, you can do: `go get -u -f github.com/anycable/anycable-go`.

I think, it makes sens

[2017-07-13 09:17] palkan opened #9 "Homebrew formula"
Let's make it super-simple to install `anycable-go` on MacOS!

[2017-07-13 16:10] EsdrasEtrenne commented on #8
Ok, thank you. When you say put it somewhere in your PATH you mean the path for the api right? So move the downloaded file into the rails api folder?

[2017-07-13 18:57] palkan commented on #8
No, I meant terminal PATH environment variable. It tells your terminal where to look for scripts (thus you don't have to use full paths).

[2017-07-23 02:02] EsdrasEtrenne commented on #8
Ok I just  ran:

`sudo ln -s /Downloads/anycable-go-0.4.1-macos-386 /usr/local/bin`

and now it is in the `user/local/bin` folder. I haven't installed something that way before. I also ran the chmod to change the permissions before I moved it.

[2017-07-23 02:02] #8 closed

[2017-09-13 16:04] GabrielMalakias opened #10 "An strange behavior when running anycable-go (systemd restarts)"
I've just published my system but sometimes systemd restarts this server throwing this error:

Sep 13 03:08:29 debian-yggdrasil bash[5523]: Broadcast to stream sensor_1: {"user":"external","message":"22.97","sid":98016}
Sep 13 03:08:29 debian-yggdrasil bash[5523]: panic: send on closed channel
Sep 13 03:08:29 debian-yggdrasil bash[5523]: goroutine 8 [running]:
Sep 13 03:08:29 debian-yggdrasil bash

[2017-09-27 16:36] GabrielMalakias commented on #10
Thank you!

[2017-09-27 16:37] palkan commented on #10
Note: I haven't tried it in production yet; but I've added a test for this small change, everything looks good)

[2017-09-27 16:39] palkan commented on #10
Binaries uploaded, see Downloads page

[2017-09-27 16:44] GabrielMalakias commented on #10
Ok.. That's fine, I'm testing it in a personal project, so the whole project is in beta. ;)

[2017-10-04 10:15] sponomarev commented on #9
I'll take care

[2017-10-04 22:15] sponomarev commented on #9
@palkan That's it https://github.com/sponomarev/homebrew-anycable. I guess we can create an official repo for it

[2017-10-05 11:51] palkan commented on #9
Thank you! 🎉

[2017-10-05 11:51] #9 closed

[2017-10-06 11:04] palkan opened #16 "Codebase refactoring"
It's time to make the codebase well-orgnazed, add tests and enhance functionality!

- [ ] Restructure it!

  - [ ] Organize code in packages

  - [ ] Provide interfaces

  - [ ] Tests!

- [ ] Improve it!

  - [ ] Migrate to [logrus](https://github.com/sirupsen/logrus)

  - [ ] Add unique identifiers to connections and use them as log tags (NanoID https://github.com/matoous/go-nanoid ?)

  - [ ] Ab

[2017-10-21 12:08] palkan commented on #7
Fixed. Now we log exceptions received from RPC.

[2017-10-21 12:08] #7 closed

[2017-10-22 18:01] jurajmasar commented on #7
Thank you, @palkan!

[2017-10-24 21:17] devinturner opened #18 "No documentation on Docker usage"
It would be nice if there were environment variables and basic usage available in Docker Hub or in the README.

<img width="872" alt="screen shot 2017-10-24 at 5 15 13 pm" src="https://user-images.githubusercontent.com/4925561/31968386-f25fc116-b8de-11e7-9360-9ff355ad4180.png">

[2017-10-25 09:43] palkan commented on #18
Done https://hub.docker.com/r/anycable/anycable-go/

[2017-10-25 13:23] devinturner commented on #18
Awesome!

[2017-10-25 13:23] #18 closed

[2017-11-01 06:39] firdausmaarof opened #19 "SSL Support"
Could you add built-in SSL support?

[2017-11-08 15:15] #19 closed

[2017-11-08 15:31] palkan commented on #19
Released as 0.5.1

[2017-11-21 21:54] lfventura opened #21 "Links to download binaries are not working"
When I try to download a pre-compiled binary it is giving me permission denied
Tried Linux x86_64.

[]s

[2017-11-22 06:43] palkan commented on #21
Fixed by https://github.com/anycable/anycable-go/commit/893965b01d5c3e1a8d429e20982aec9992aa9568

Btw, we also have precompiled binaries attached to releases https://github.com/anycable/anycable-go/releases

[2017-11-22 06:43] #21 closed

[2017-12-08 11:56] alekseyl opened #22 "Mass broadcast"
Может сделать возможность массовой рассылки на все открытые соединения?

Может быть удобно при деплое, дать всем знать, что сейчас планово оборвется связь и нужно без паники переконнектиться и быть готовым обновиться.

В целом изменение в коде будет небольшим.

[2017-12-08 12:07] palkan commented on #22
Да, это хороший момент.
Это уже выходит за рамки ActionCable (но это и есть финальная цель проекта).

Мысль такая: сделать зарезервированное имя стрима и обрабатывать его специальным образом, то есть:

[code]

[code]

[2017-12-11 15:18] alekseyl commented on #22
В настоящий момент кстати, это можно эмулировать, на уровне стримов. Сделать отдельный канал для этого и сделать специальный стрим "anycable:internal:all" и на него подписать все соединения. И там слать служебную инфу, если есть потребность.

[2017-12-11 17:27] palkan commented on #22
Да, можно и так. Но стрим _живёт_ в рамках какого-то канала, значит нужно еще и канал добавить.

С другой стороны, вся логика тогда будет в приложении, а не скрыта где-то внутри anycable.

[2017-12-19 16:24] jnstq opened #23 "Broadcast string appears as null"
Thanks for an awesome project! I would love to try this in our production app. I think we can save a lot of heroku dynos as we have problem with memory and number of connections.

We are sending server rendered html or json returned by postgres directly with ActionCable, but it do look like this isn't working with AnyCable.

[code]

[code]

**Versions**
Rails 5.1.4
Ruby 2.4.2
AnyCable websocket se

[2017-12-22 08:52] #23 closed

[2017-12-22 09:28] palkan commented on #23
Fixed and released as 0.5.2

[2017-12-22 09:30] jnstq commented on #23
Super, just installed and tested 👌🏼 Next up, heroku

[2017-12-22 10:59] jnstq commented on #23
I've run in to another issue on replacing ActionCable with AnyCable.

I requests json directly from postgres, sending it as a string via broadcast.

To simulate it

[code]

On my received method in javascript

[code]

[2017-12-22 11:06] jnstq commented on #23
Sending rendered html from server

[code]

[code]

[2017-12-22 11:12] palkan commented on #23
Interesting, I didn't take into account this case.

I'll try to fix it today. Do you use precompiled version of `anycable-go` or built from source?

[2017-12-22 11:15] jnstq commented on #23
Thanks! In development I'm install from source, and on heroku the buildpack

[2017-12-22 12:00] palkan commented on #23
@jnstq Check out master version, please; should work now the same way as Action Cable does

[2017-12-22 12:08] jnstq commented on #23
@palkan Locally it works exactly as ActionCable now. Can you publish a new version so I can try it on Heroku?

[2017-12-22 12:13] palkan commented on #23
Yep, gimme 10 minutes

[2017-12-22 12:32] palkan commented on #23
@jnstq Ready

[2017-12-27 12:38] alekseyl opened #24 "ping + log"
Надо иметь возможность отделить вывод пингов в лог от остальных броадкастов. Через параметры запуска или перенести пинги из DEBUG в INFO ( но это не бьется с текущим броадкастом, который логгирует все сообщения выводит в дебаг лог ).

Потому что логгирование, особенно живое в девелопменте, практически смысла не имеет, все погребается пингами в клочья.

я себе локально сделал broadcast_silent для д

[2018-02-01 11:48] pokonski opened #25 "Redis subscription stops working"
Hey!

I noticed one issue with the server: after 10 hours of running the anycable-go it stopped receiving Redis messages with broadcasts.

I inspected logs using `-log` option and manually subscribed to the Redis channel via `redis-cli` and the messages are coming, but `anycable-go` does not seem to receive them.

My best guess is that it does not correctly reconnect after timeout/network issues.

[2018-02-01 12:58] palkan commented on #25
Thanks for the report! I'll take a look at this issue ASAP. Looks like a bad bug(

[2018-02-01 12:59] pokonski commented on #25
@palkan thanks for the quick response! I tracked to a potential issue in redigo library anycable-go is using: https://github.com/garyburd/redigo/issues/295

[2018-02-08 16:09] #25 closed

[2018-02-08 17:20] palkan commented on #25
@pokonski Fixed and released as 0.5.4

[2018-02-09 02:28] pokonski commented on #25
That's fantastic! I'll give it a try :)

[2018-03-05 17:10] palkan commented on #24
В новой версии ping переписан, логов у него не будет.
https://github.com/anycable/anycable-go/releases/tag/v0.6.0-preview1

[2018-03-05 17:10] #24 closed

[2018-03-07 15:16] scriptfans opened #29 "How to deploy ssl websocket with anycable?"
Hi, I'm using Puma, Nginx and anycable-go, How can I deploy wss server? thanks.

[2018-03-10 10:07] palkan commented on #29
Hi! Take a look at TLS section in the readme: https://github.com/anycable/anycable-go#tls

[2018-03-13 13:36] rus-max opened #30 "client message size as option?"
Hi, I'm using anycable-go 0.6.0-preview2. Client sends base64-encoded image to server and its disconnected. How to increase client message size limit?

I forked repo, comment this [line](https://github.com/anycable/anycable-go/blame/5e24c694cb5359794ef2046e4f47530b06f0e8a2/node/session.go#L155) and install from fork.

But nothing has changed. Thanks

[2018-03-13 15:34] palkan commented on #30
Hi!

What's the size of the resulted message?

Do you see any errors in log? Have you tried to run the server with `--debug` option? What about RPC server logs?

[2018-03-14 06:52] rus-max commented on #30
Size message: 872471

anycable.yml
[code]
Procfile
[code]
The log file doesn`t contain errors.
I see logs in production.log, but no logs is in anycable.log.

[2018-03-14 08:08] palkan commented on #30
Thanks! I'll try to reproduce and find out what's going on here.

[2018-03-19 23:24] bpdarlyn opened #31 "Time for Notifier Disconnected"
Do you know what is the time about notifier disconnection ?

[2018-03-20 08:34] palkan commented on #31
Could you, please, explain more precisely? I'm not sure I got what you mean

[2018-03-20 15:53] bpdarlyn commented on #31
Ok!  when the client socket is disconnected, the websocket server takes almost 10 minutes in disconnected and notifier to rails app in my case, this time for retry connection is configurable or for It take as disconnected  is configurable ?

[2018-03-20 17:00] palkan commented on #31
Do you use version 0.6.0? If so, try to use master version, I've pushed a possible fix

[2018-03-20 17:25] bpdarlyn commented on #31
ok thank !! I am gonna look this. :+1:

[2018-03-28 14:01] alekseyl opened #32 "ERROR on installing from source"
go get -u -f github.com/anycable/anycable-go/cmd/anycable-go

Delivers ERROR:
package context: unrecognized import path "context" (import path does not begin with hostname)

[2018-03-28 14:01] palkan commented on #32
What is your Go version?

[2018-03-28 14:03] alekseyl commented on #32
go version go1.6.2 linux/amd64

[2018-03-28 14:18] palkan commented on #32
Go 1.10+ is required for the latest version

[2018-03-28 14:41] alekseyl commented on #32
The best way to install it from console in ubuntu would be...?

sudo curl -O https://storage.googleapis.com/golang/go1.10...
sudo tar -xvf go1.10...
sudo mv go /usr/local

any chance to use apt-get?

[2018-03-28 14:45] alekseyl commented on #32
ut if I use binary I don't need to install go lang am I right?

[2018-03-28 15:11] palkan commented on #32
Yep, correct

Frankly speaking, have no idea on how to install go on Ubuntu

[2018-04-08 16:54] #32 closed

[2018-04-08 16:54] #31 closed

[2018-04-08 16:56] palkan opened #34 "Panic in (*Session).Send()"
[code]

**AnyCable-Go version:** 0.6.0-preview4
**AnyCable gem version:** 0.5.0

[2018-04-11 08:14] ernsheong commented on #34
I am also seeing this. 🙏

[2018-04-12 08:26] alekseyl opened #36 "Сообщение доставлено?"
есть какой-то более лаконичный способ навскидку получения информации о доставленности/недоставленности сообщения на клиента? Кроме подтверждения с клиента через вызов самописной функции.

Из кода я так понял, что сбой при отправке сообщения не нотифицируется никуда, получается что если произошел сбой при отправке на клиента, то сообщение из очереди редиса просто исчезнет, а сам код рубишный об это

[2018-04-12 10:11] palkan commented on #36
нет, без подтверждения на уровне приложения никак не получится; даже если сервер успешно отправит данные клиенту, нет гарантии, что они дойдут (клиент можно просто отключиться или сеть пропасть).

а в редисе по сути никакой очереди сейчас нет, сообщения нигде не хранятся, просто сразу отправляются всем подписчикам

в общем, гарантии доставки ни Action Cable, ни AnyCable не дают; её можно делать то

[2018-04-12 11:41] alekseyl commented on #36
спс. я уже и так начал делать версию лайт для построения отказоустойчивости. В зависимости от объемов кода или сделаю гемом, или просто небольшую заметочку с кодом напишу.

[2018-04-12 11:41] #36 closed

[2018-04-12 12:34] andrewostroumov opened #37 "Many dead connections on the server"
Hello, recently we have deployed anycable to the production server and saw that connection count constantly increases, from 500 to 2k connections by night. After investigation we found out that we have dead clients connections (10%-15%). If client closes his laptop or disconnects from internet, connection doesn't close for a long time with send-q in netstat (go send ping and doesn't receive err).

[2018-04-12 13:13] #37 closed

[2018-04-23 21:09] palkan commented on #34
Fixed in `0.6.0-preview5` (see [release](https://github.com/anycable/anycable-go/releases/tag/v0.6.0-preview5))

[2018-04-23 21:09] #34 closed

[2018-04-24 19:19] staugaard opened #38 "Redis Sentinel Support"
Does anycable-go support Redis Sentinel?

[2018-04-25 11:39] alekseyl opened #39 "Anycable.broadcast не работает!"
**AnyCable-Go version: 0.6.0.preview5**

**AnyCable gem version: anycable-rails: 0.5.3**

Не работает Anycable.broadcast.

    Anycable.broadcast( stream_id_for(recipient), {test: { broadcast: :failed! } } )

эникейбл-го выдает ошибку:

context=node Failed to parse pubsub message '{"stream":"msgs:2","data":{"test":{"broadcast":"failed!"}}}' with error: json: cannot unmarshal object into Go struct

[2018-04-26 09:04] alekseyl commented on #39
redis 4.0.1, хотя вряд ли его версия влияет.

[2018-04-26 10:49] palkan commented on #39
Нужно использовать `ActionCable.server.broadcast`, он как раз конвертирует сообщение в json и уже его отправляет в `Anycable.broadcast`.

[2018-04-26 11:06] #39 closed

[2018-04-26 11:26] alekseyl commented on #39
Thanx!
+Была у меня ошибка тоже поэтому строки не отправлялись, хотя я пробовал.

[2018-04-26 11:31] palkan commented on #38
Currently, we do not have support for Redis Sentinel.

As I see, it could be added pretty easily with https://github.com/FZambia/sentinel.

PR welcomed!

[2018-04-26 11:33] #29 closed

[2018-06-11 19:38] LaithAzer opened #41 "Cannot install latest stable release"
**AnyCable-Go version: 0.5.4**

### What did you do?

Ran `go get -u -f github.com/anycable/anycable-go/cmd/anycable-go`

### What did you expect to happen?

Should successfully install anycable-go.

### What actually happened?

The following error:

[code]

Using a pre-compiled binary still works.

[2018-06-13 06:37] palkan commented on #41
Thanks for the report!

Yep, `go get -u` is broken due to mruby dependency; it requires a separate step of downloading and compiling mruby, and AFAIK it's not possible to integrate this step into `go install`.

If you don't need mruby support you can use:

[code]

I'll update the Readme.

[2018-07-03 09:21] rus-max opened #42 "Client 502"
**AnyCable-Go version: 0.6.0-preview5**
**AnyCable-rails gem version: 0.5.4**
**AnyCable gem version: 0.5.1**
**gRPC gem version: 1.12.0**

Приветствую, @palkan!

AnyCable-Go log:
[code]
В логах AnyCable ошибок нет, кроме reject.

Метрики:
Client code 101:
[code]
Client code 502:
[code]

Помогает только перезагрузка RPC сервера
Буду благодарен любым комментариям

[2018-07-03 10:14] palkan commented on #42
Привет!

То есть ошибка возникает в первый раз и последующие подключения до перезагрузки тоже возвращают 502 сразу?

А можно побольше логов с момента первой ошибки (чуть раньше) и дальше. В приведенном примере несколько клиентов, и часть из них отрубаются сервером из-за ошибки аутентификации.

[2018-07-03 12:08] rus-max commented on #42
Верно. При первом запуске работает в штатном режиме, затем что-то происходит и клиент получает 502. Иногда клиент не получает 502, но по таймауту реконнектится
Проксирование через nginx:
[code]
Начало:
[code]
 Конец:
[code]

[2018-07-03 12:31] palkan commented on #42
Так-с, вижу много такого:

[code]

Это означает, что аутентификация не прошла, то есть был вызван `reject_unauthorized_connection` (больше не вижу в коде ActionCable мест, где может быть закрыт сокет).

Как выглядит метод `connected` в `ApplicationCable::Connection`? На стороне RPC в логах ничего не сыпется подозрительного? Если попробовать в дебаг режиме?

[2018-07-03 12:47] rus-max commented on #42
[code]
Из подозрительного:
[code]
Из ошибок:
[code]

[2018-07-03 13:15] palkan commented on #42
подозрительно, но не опасно; в этом случае мы пытаемся повторить запрос; судя по отсутствию ошибок RPC в anycable-go – всё успешно

А это выводится из метода `reject_unauthorized_connection`; получается, что `token = Doorkeeper.authenticate(request)` возвращает `nil`.
Либо токен expired – но тогда должны бы быть еще и логи вида `"Terminal xyz has expired token"`. Нет таких? Какой уровень лога? Есл

[2018-07-03 13:29] rus-max commented on #42
Логи вида ```"Terminal xyz has expired token"``` присутствуют в большом количестве. Сейчас получается DDOS на коннект практически от каждого клиента.  Может ли это положить anycable?

[2018-07-03 15:55] palkan commented on #42
Значит проблема с токенами. Нужно как-то рефрешить их. Или баг какой в проверке. Что в качестве клиента выступает? Как токен передается клиенту и от клиента?

Судя по коду, клиент должен переподключаться с определенным интервалом (https://github.com/rails/rails/blob/5-2-0/actioncable/app/assets/javascripts/action_cable/connection_monitor.coffee#L61); так что большого количество попыток не будет.

[2018-07-07 02:45] rus-max commented on #42
Клиент Actioncable из коробки

В логах ws-сервера появились новые строки:
[code]

[2018-07-07 11:01] palkan commented on #42
Это значит, что RPC сервер недоступен. Клиент переподключается автоматически, но не мгновенно, используется backoff алгоритм ([примерно такой](https://github.com/grpc/grpc/blob/master/doc/connection-backoff.md)).

А какое время жизни токена? Хорошо бы увидеть логи выдачи токена и его проверки, сравнить время. Когда ActionCable клиент переподключается, он не будет ходить за токеном (это внутри библ

[2018-07-21 07:08] rus-max commented on #42
Переделали механизм авторизации - перекинули проверку токена в подписку, тем самым разгрузили RPC сервер. Следующим шагом добавим обновление токена

Большое спасибо за советы!

[2018-07-21 07:08] #42 closed

[2018-12-11 14:34] kernow opened #51 "Example systemd file"
Are there any example systemd files available? Or best practice examples of running on ubuntu (16.04), I'm struggling to get the server running when using systemd.

Thanks

[2018-12-11 16:29] Envek commented on #51
Example of systemd unit for anycable-go:

[code]

 1. Place it to `/etc/systemd/system/anycable-go.service`
 2. Reload configuration: `sudo systemctl daemon-reload`
 3. Start service: `sudo systemctl start anycable-go`
 4. See how it runs: `sudo systemctl status anycable-go`

[2018-12-11 16:33] Envek commented on #51
Also you can always generate systemd unit to run any binary with [pleaserun] gem (highly recommended!)

[pleaserun]: https://github.com/jordansissel/pleaserun "An attempt to abstract this init script madness."

[2018-12-12 11:09] kernow commented on #51
Thanks @Envek very helpful

[2018-12-19 11:36] kernow opened #52 "Healthcheck"
Hi,

Are there any plans to implement a healthcheck for the anycable-go websocket server similar to the anycable gem? We are setting this up behind an AWS application load balancer which only supports http healthchecks.

Thanks

[2018-12-19 17:46] palkan commented on #52
@kernow Yep, that's the feature we definitely want to add) Stay tuned

[2018-12-21 20:04] #52 closed

[2018-12-21 20:14] palkan commented on #52
@kernow Released https://github.com/anycable/anycable-go/releases/tag/v0.6.1

[2018-12-24 11:14] tambakoo commented on #32
@palkan Any update on how to install anycable-go on a linux. I have an ec2 machine where I'll need this.

[2018-12-24 11:24] tambakoo opened #55 "Trouble installing on linux (ec2)"
`go get -u -f github.com/anycable/anycable-go/cmd/anycable-go` returns `# github.com/anycable/anycable-go/metrics
/root/go/src/github.com/anycable/anycable-go/metrics/prometheus.go:16:10: undefined: strings.Builder`

[2018-12-24 11:58] Envek commented on #32
@tambakoo why not just download a precompiled binary?
[code]

[2018-12-24 12:44] tambakoo commented on #32
@Envek
`-bash-4.2$ sudo curl -fsSL https://github.com/anycable/anycable-go/releases/download/v0.6.1/anycable-go-v0.6.1-linux-amd64 -o anycable-go
-bash-4.2$ sudo chmod +x anycable-go
-bash-4.2$ anycable-go -v
-bash: anycable-go: command not found
-bash-4.2$
`
Am I making a syntactical error here ?

[2018-12-24 13:02] Envek commented on #32
Use relative or absolute path to execute binaries not in your `$PATH` (current directory usually not included):
[code]

[2018-12-24 13:05] tambakoo commented on #32
Whoa! @Envek it just worked! Thanks.

[2018-12-24 13:06] tambakoo commented on #55
refer `https://github.com/anycable/anycable-go/issues/32`

[2018-12-24 13:06] #55 closed

[2019-01-10 10:41] kernow commented on #52
@palkan @sponomarev only just got to installing this after the xmas break, thanks for implementing so quickly!! Working for me with AWS load balancers 👍

Ah, ha, ha, ha, stayin' alive, stayin' alive.

[2019-01-19 01:58] WalkPhoneGo commented on #30
still have this problem
rails 5.2.2
ruby 2.5.3
anycabel-go anycable-go-v0.6.1-linux-amd64

when I send message size about 200k, the connection will close.

[2019-01-19 05:58] WalkPhoneGo commented on #30
I just find the maxSize is 64K, so why set 64k not even bigger size?

[2019-01-19 06:13] sponomarev commented on #30
It’s basically a way to limit memory consumption during workload. Otherwise, a malicious client can cause DoS easier.

There is a plan to make this value configurable soon.

[2019-01-21 18:53] palkan commented on #30
Yep. I planned to add support for customising low-level options via `*.toml` configuration, but then we decided not to mess with file-based configs.

We'll add this options support via CLI/ENV.

@sponomarev Would you like to work on that 😉?)

[2019-02-07 17:08] palkan commented on #51
@Envek could you please add this to the docs? (https://github.com/anycable/docs.anycable.io)

[2019-02-07 17:33] jjhesk opened #58 "connection stress test outcomes"
I would like to ask what is the test figures for these outcomes

1. connection with 1000 concurrent connections with open 65540 open files and unlimited processes
2. operate over 10 hours
3. see any race detections?

[2019-02-07 18:00] palkan commented on #58
Hi @jjhesk!

Need some clarification.

Do you mean that you have a server with open files limit set to 65540 (via `ulimit` or `sysctl`), no limits on the number of processes.
One `anycable-go` app instance is running and 1000 clients are connected, right?

All the clients are stay connected for 10 hours? Or there could be different clients, connecting and disconnecting, but on average 1k at a time

[2019-02-12 15:36] #51 closed

[2019-02-16 17:43] jjhesk commented on #58
1. given 32 core, 16GB ram, intel, ubuntu 18.0.1
2. stay connected for 10 hrs with some operations maybe 1% of the operations.
3.  yea, any race detections and the number of detects

[2019-03-22 23:36] nixme commented on #30
Please take a look at #66 to address this.

[2019-03-22 23:58] #30 closed

[2019-03-28 05:07] drdrsh opened #67 "Looking to implement ticket-based authentication using client IP address"
I am trying to implement an authentication method using tickets  (described [here](https://devcenter.heroku.com/articles/websocket-security#authentication-authorization)), but this is impossible to achieve without anycable-go proxying the websocket client ip address to the gRPC server. Is there a way to achieve this?

[2019-03-28 17:02] palkan commented on #67
Yes, you can proxy client's IP address to RPC server.

For that, you need to explicitly tell `anycable-go` which headers you want to proxy to RPC server via `--headers` option (or `ANYCABLE_HEADERS` env var). For example:

[code]

Then in Connection class:

[code]

[2019-03-28 18:07] sponomarev commented on #67
That works only in case `anycable-go` is behind a reverse proxy.  @drdrsh referred to Heroku docs and in his case, it will work. In more general approach, `anycable-go` doesn't pass this information to RPC server.

I  suggest not to use the header directly because it can turn out that it's a list, not a single address. Besides, different headers can be used. `request.ip` [encapsulates all the comp

[2019-06-14 07:13] FX-HAO opened #72 "Consider updating base image from `scratch` to `alpine`"
`scratch` does not contain `/bin/sh`, or anything else. I can't run it with `docker run -it --entrypoint=/bin/sh anycable/anycable-go:v0.6.2 -c "--redis-url=redis://localhost:6379/5 --http-health-port=80 --rpc-host=0.0.0.0:50001"` and use `docker exec -it anycable /bin/sh` to get ssh into the running container.

[2019-06-19 10:37] alekseyl opened #73 "Проблемы c anycable-go на AWS"
Distributor ID:	Ubuntu
Description:	Ubuntu 18.04.2 LTS
Release:	18.04
Codename:	bionic

**AnyCable-Go version: **
https://github.com/anycable/anycable-go/releases/download/v0.6.2/anycable-go-v0.6.2-linux-amd64

**AnyCable gem version: doesn't matter**

Наблюдаю на AWS такую вот странную штуку. -v, -h и пр:

[code]

возможно не ту версию поставил.
при пересборке из сорсов все выводит норм.

[2019-06-20 15:55] palkan commented on #73
Похоже, что просто загрузился не бинарник, а HTML.

Я смотрю, что ссылка https://github.com/anycable/anycable-go/releases/download/v0.6.2/anycable-go-v0.6.2-linux-amd64 в итоге делает редирект куда-то на гитхабовский S3.

Судя по всему, загрузчик не фолловит редирект. Как ты загружаешь бинарь не сервер?

[2019-06-21 08:01] alekseyl commented on #73
curl -o /home/ubuntu/gocode/bin/anycable-go https://github.com/anycable/anycable-go/releases/download/v0.6.2/anycable-go-v0.6.2-linux-amd64

пока я переключился на сборку из сорсов, в принципе так работает.

[2019-06-21 12:28] sponomarev commented on #73
@alekseyl  Try

`curl -L -o /home/ubuntu/gocode/bin/anycable-go https://github.com/anycable/anycable-go/releases/download/v0.6.2/anycable-go-v0.6.2-linux-amd64`

[2019-06-23 10:17] alekseyl commented on #73
OK попробую.

[2019-06-23 17:57] alekseyl commented on #73
Yep, так работает.

[2019-06-23 17:57] #73 closed

[2019-06-23 18:55] alekseyl opened #74 "Stability of the rpc instance"
вопрос: как быть с автохилом rpc? в случае когда у нас это рельсы под пумой, там проблем нет, пума их как бы лечит сама, но rpc инстанс сам по себе, и если он ляжет то вся система сломается.

И еще момент, хелс респонс от anycable-go не учитывает, доступность для него rpc, если rpc по каким-то причинам недоступен для anycable-go, и это не будет отражено в хелс респонсе.

[2019-06-24 15:16] palkan commented on #74
Для RPC нужно использовать стандартные системные средства (`monit`, `systemd` и т.д.).

У RPC есть свой health check: https://docs.anycable.io/#/health_checking?id=http

Это не покрывает 100% всех сценариев (есть вероятность, что оба сервера работают, но "связи" нет), но компенсируется [инструментацией](https://docs.anycable.io/#/go_instrumentation); например, мы мониторим аномалии в `rpc_error_to

[2019-07-25 00:19] palkan opened #75 "Make disconnector graceful shutdown timeout configurable"
Having hardcoded timeout is too opinionated (5s doesn't fit everyone): https://github.com/anycable/anycable-go/blob/775acdf5b7b70dcf8530c8c27cf30175fb7edd71/node/disconnect_queue.go#L13-L14

As as temporary solution, we need to make this timeout configurable.
In the future, we need to think about a better way to make disconnection stable (since application code could rely on `disconnect` and `unsu

[2019-08-20 20:01] palkan commented on #74
Closed in favor of https://github.com/orgs/anycable/projects/1#card-23149548

[2019-08-20 20:01] #74 closed

[2019-08-20 21:47] palkan commented on #72
The latest release alpine image has been published: https://hub.docker.com/r/anycable/anycable-go/tags

Future releases will also have alpine versions.

[2019-08-20 21:47] #72 closed

[2019-08-23 11:56] avlazarov opened #79 "Connection to the gRPC server gets stuck"
AnyCable-Go version: 0.6.3
AnyCable gem version: 0.6.3 (same `anycable-rails` version)
gRPC gem version: 1.20.0
nginx version: 1.17.3

### What did you do?

1. Use nginx + grpc module setup. [Gist link](https://gist.github.com/avlazarov/9503c23d81c75f760e14b30e38847356#file-grpc-conf)
2. Run two instance of gRPC servers via `bundle exec anycable --rpc_host 0.0.0.0:50052` and `bundle exec anycable

[2019-08-23 14:44] sponomarev commented on #79
Hey @avlazarov! Have you tried to play with `grpc_read_timeout` configuration? What happens when the default timeout, 60s, passes?

[2019-08-23 14:47] sponomarev commented on #79
I assume that AnycableGo is not aware of you RPC servers went done because nginx still keeps the connection because of the `grpc_read_timeout` and `grpc_send_timeout` directives.

[2019-08-23 14:54] palkan commented on #79
As I understood, other clients (new connections) work fine, i.e., gRPC connectivity is restored.

The problem is that the first one, the one that "caught" the broken connection, is getting stuck:

@avlazarov Right?

And that's strange: if other clients could successfully perform an action, the first one should do this as well on the next attempt, since they uses the same grpc pool.

[2019-08-23 17:55] avlazarov commented on #79
@palkan Yes, the odd part is that even when the next client makes a series of successful actions, the first one remains stuck. If instead of error `502` I totally shutdown nginx (causing refused connection), `anycable-go` will perform the operations, print errors but once nginx is back again, it the gRPC servers will correctly receive the actions.

[2019-08-24 00:53] palkan commented on #79
I'll try to reproduce it locally and come back when I find something.

[2019-09-12 15:59] dmcrorieGIT opened #80 "Env Support for Anycable-go"
I was wondering if we could get a version of anycable which supports env variables? (https://github.com/iij/mruby-env). I would make a branch and do a pull request myself, but I don't have the proper permissions to do so. To make such a version, all one would need to do is add the line `conf.gem :github => 'iij/mruby-env'` to the `build_config.rb` file. My organization would benefit tremendously f

[2019-09-13 07:54] palkan commented on #80
As a quick fix I suggest including `mruby-env`  into `mrb` builds.
Ideally, I want to make it possible to use custom mruby builds without rebuilding `anycable-go` itself. That's the plan for the future (not the nearest one though).

[2019-09-13 15:54] dmcrorieGIT commented on #80
Excellent, thanks for letting me know! That would be a very sleek way of doing it in the future as well. Here is a link to my pull request which includes the change: https://github.com/anycable/anycable-go/pull/81 also, is it possible that you could compile the binaries on your end? Our machines are all on macos, we're running into some errors when trying to compile some of them, specifically the

[2019-09-13 16:46] sponomarev commented on #80
They will be compiled automatically on CI once the PR is merged and the new version is released.

[2019-09-16 14:35] palkan commented on #80
Added in #81 and released in [0.6.4](https://github.com/anycable/anycable-go/releases/tag/v0.6.4).

[2019-09-16 14:35] #80 closed

[2019-11-08 13:02] rolandg opened #83 "Websocket connections not closed"
### Tell us about your environment

**AnyCable-Go version:**
v0.6.3
**AnyCable gem version:**
v0.6.3

### What did you do?
Use kong as a load balancer.

### What did you expect to happen?
Websocket connections are closed after some time.

### What actually happened?
Websocket connections add up very fast until kong reaches its limit (8-10k) and restarts with
[code]
Before kong we used the native k

[2019-11-08 15:11] palkan commented on #83
Don't know anything about Kong 🤷🏻‍♂️

Preferably, you should use "least open connections" for WebSockets; that would result in more uniform balancing.

But as I see [here](https://github.com/Kong/kong/issues/157#issuecomment-269599978):

Anyway, that shouldn't be the reason for this issue.

As far as I understand, WebSockets load balancing works the following way:
1. Client connects to the LB.
1.

[2019-11-08 17:43] gr8bit opened #84 "Permessage deflate?"
Disclaimer: I'm just getting into WebSocket and stuff.

I'm just experimenting on replacing our project's current "HTTP via Rails plus WebSocket via JS/Socket.io"-APIs with ActionCable/WebSockets completely. Performance is quite important, therefore I came across AnyCable quite early. As we're often sending data packets of several kilobytes to the client via HTTP, we had automatic gzip/deflate in

[2019-11-11 09:45] rolandg commented on #83
Thanks for your answer.
I'll try to provide you a minimal example of our setup.
I also asked this questions to the guys from kong here: https://discuss.konghq.com/t/anycable-websocket-connections-not-closed/4866

regarding the tcp keepalive settings:
we use the default settings from ubuntu:
[code]
as far as I understand this means a websocket connection shoul be closed after 2 hours if all 9 reque

[2019-11-11 14:32] bibendi commented on #79
I've tried to reproduce it at [that simple chat application](https://github.com/evilmartians/evil_chat/pull/7), but unfortunately (or fortunately) couldn't experience the problem.

[2019-11-11 15:43] palkan commented on #79
@avlazarov Please, take a look the @bibendi 's PR above. We couldn't reproduce the problem. Are we missing something?

[2019-11-11 18:56] avlazarov commented on #79
@palkan Sorry, I can't reproduce it after upgrading from Ubuntu 16.04 to 18.04. It might have been something related to that specific version of Nginx for Ubuntu, or I might have misconfigured something else in Nginx that I have not noticed.

[2019-11-13 17:48] palkan commented on #84
Compression should be handled by `gorilla/websocket` library we use for WebSocket but they still have an "experimental" label for it ([see here](https://github.com/gorilla/websocket/blob/c3e18be99d19e6b3e8f1559eea2c161a665c4b6b/doc.go#L201-L214)). That's why we do not enable it.

We can add an option to enable it via configuration. And you can use it at your own risk 🙂

We have plans to support co

[2019-11-13 18:32] gr8bit commented on #84
Nice, thanks for the information! I'd love to be able to enable compression via option. 👍

We're using [Google's Protocol Buffers](https://developers.google.com/protocol-buffers) on the data layer which already is a binary (and very optimized) format as you will know, but as we transfer many strings and otherwise recurring data it would still pay off to have per message compression in place.

Than

[2019-11-19 13:53] thatandyrose opened #85 "HSTS support"
hi guys,

We've really tried googling this answer to no avail. Either our googling skills suck... or, actually probably that :-)

We're using Anycable-go and we want to make sure our socket connections implement HSTS (we recently had a penetration test done and that came up as a minor issue).

How do we do this when using anycable go?

thanks!

[2019-11-19 16:33] sponomarev commented on #85
Hey @thatandyrose, thanks for the great question!

Ideally, you should set NGINX or any kind of reverse proxy to set those headers and terminate SSL connection. I hope this article would be helpful https://www.nginx.com/blog/http-strict-transport-security-hsts-and-nginx/

[2019-11-22 20:26] #79 closed

[2019-12-26 15:33] #85 closed

[2020-01-14 00:12] #67 closed

[2020-01-14 00:13] palkan commented on #58
Closed as stale

[2020-01-14 00:13] #58 closed

[2020-03-11 17:35] le0pard commented on #83
We had something similar on project with such scheme:

[code]

Issue was `net.ipv4.tcp_tw_reuse`, which had value `1` (mean `enabled`). It created issue, where our websocket connections not die, even with reducer keepalive for tcp. Websockets connections stop "leaking" after disable `net.ipv4.tcp_tw_reuse` (value `0`).

Also, check that you don't have `net.ipv4.tcp_tw_recycle` with value `1`. It a

[2020-03-16 14:15] vitobotta opened #90 "Totally different environments seem to send messages to the same one?"
Hi, I am using AnyCable in Rails and have installed AnyCable Go in Kuberentes with the helm chart.
I have three totally different environments for my app (dev/staging/prod) so I have three different AnyCable-Go deployments, each pointing to the relevant environment of the Rails app for the RPC service. I think that everything is configured correctly in that the services etc have all different name

[2020-03-16 14:22] vitobotta commented on #90
I tried setting different Redis channels but now no messages are received by any instance.

[2020-03-16 14:56] vitobotta commented on #90
I found the `--redis-channel` parameter for anycable-rails. I am testing with an environment only now. Both anycable-go and anycable-rails are now using the same Redis channel (confirmed in the logs), and when the browser establishes the connection I can see something in the console (I am just doing a console.log on connection). However if I broadcast messages from a Rails console they don't reach

[2020-03-16 14:58] sponomarev commented on #90
Unfortunately, [Redis PUBSUB doesn't work with database numbers](https://redis.io/topics/pubsub#database-amp-scoping). _Publishing on db 10, will be heard by a subscriber on db 1._

The only way to share the single Redis instance is to use unique Redis channel names per environment.

In order to do that you need to set the `redis_channel` option [for AnyCable Go ](https://docs.anycable.io/#/anycab

[2020-03-16 15:00] vitobotta commented on #90
Hi @sponomarev thanks for the confirmation about the dbs. Both anycable-go and the `bundle exec anycable --redis-channel xxx` are using the same channel now, but messages I broadcast from the Rails console don't reach the browser. Any idea? Thanks

[2020-03-16 15:00] sponomarev commented on #90
Rails console doesn't know anything about `--redis-channel` option, but you can set it in `config/anycable.yml`.

[2020-03-16 15:07] sponomarev commented on #90
Probably, `ANYCABLE_REDIS_CHANNEL` env variable could also work.

[2020-03-16 15:08] vitobotta commented on #90
I set redis_channel in anycable.yml and it worked, thanks! I'm gonna try with the other envs now. Thanks a lot again

[2020-03-16 19:38] sponomarev commented on #90
@vitobotta Feel free to reopen the issue in case of any further questions

[2020-03-16 19:38] #90 closed

[2020-03-24 11:18] gr8bit opened #91 "Exchanging the ActionCable-JSON "frontend" with other Protocol?"
I'm currently working on using a custom (ProtoBuf) wrapper for the communication between client and AnyCable server. So I want to get rid of the JSON load ActionCable uses and replace it with specific ProtoBuf definitions for my API (ActionChannel) calls.
The main reasons for this are:
1. Massive savings in Bandwidth
2. Implicitly documented API calls (through .proto files)
3. No datatype-problems

[2020-03-24 15:10] palkan commented on #91
That's a brilliant idea. We have a similar ticket in our backlog: https://github.com/orgs/anycable/projects/1#card-11340002

Though we were thinking about MsgPack, since it's schema-less, so we don't need to know anything application-specific. Have you considered it?

Does your ProtoBuf schema contain some business-logic specific fields? Or it only represents the Action Cable protocol?

[2020-03-24 16:53] gr8bit commented on #91
Wow, thank you for the fast reply! I see we're totally on the same page. :D MsgPack would be a nice general replacement for JSON indeed, regardless of my own case. But I also think that's as far as you can go with pure ActionCable because of ActionCable's "mostly schema-less" data payload ("mostly" because it requires one key to be set in "data" at one occasion). So you need to be open to everythi

[2020-03-25 19:11] ericmatte opened #92 "Consider using alpine:latest instead of edge"
Hi,

Following the warning on [Alpine Linux wiki page](https://wiki.alpinelinux.org/wiki/Edge):

I think it would be a great idea to use the `alpine:latest` version (or a fixed version of alpine), as the `edge` version is not suitable for production environment.

[2020-03-25 21:06] sponomarev commented on #92
@ericmatte Thanks, this is a valid point. Will you provide a PR while we're waiting for @palkan's confirmation?

[2020-03-26 13:48] ericmatte commented on #92
@sponomarev, sure! Here we go: https://github.com/anycable/anycable-go/pull/93

[2020-03-29 10:50] #92 closed

[2020-04-02 16:56] gr8bit commented on #91
@palkan, do you have an hints, suggestions or opinions on what I wrote? I'm very interested :)

[2020-04-02 18:13] palkan commented on #91
Yeah, sorry, hadn't had time to prepare the reply.

1. For broadcasting, you can hijack this method: https://github.com/anycable/anycable-go/blob/54f63287c577f813f9eb4060a2ff504244e2c3ed/node/hub.go#L253-L259

2. Here is where incoming message is decoded: https://github.com/anycable/anycable-go/blob/54f63287c577f813f9eb4060a2ff504244e2c3ed/node/node.go#L110-L113

So, add proto decode/encode in bot

[2020-04-03 09:53] gr8bit commented on #91
Thanks a lot! I'll report back :)

[2020-04-07 09:58] rolandg commented on #83
Thanks for the tip. We didn't have the issue since we have activated again the orange cloud in cloudflare. We had it deactivated before because we had performance problems with it. Since then the connections are closed at a certain point from cloudflare I gues. Still we might need this in the future.

[2020-04-12 19:36] hexagen48 opened #94 "CORS config"
We are using anycable - go as an WS server for our rails app in api only mode.
Is it possible to configure CORS in this case? Or it should be done maybe at nginx level?

Thanks.

[2020-04-13 11:59] sponomarev commented on #94
Hey @hexagen48! What is the reason you want to set CORS headers for AnyCable?  CORS is not applicable to WebSocket data.

As for the Rails API, it's out of the scope for these repository topics, but there are plenty of options including setting CORS headers on a balancer layer or on the Rails app itself.

[2020-04-14 20:08] hexagen48 commented on #94
Thanks for the answer @sponomarev

[2020-04-14 20:08] #94 closed

[2020-04-17 21:19] SakthiGurunathan07 opened #96 "Allow same origin as Host configuration is always failing because HTTP_HOST is always blank"
**AnyCable-Go version:**
 1.0.0 preview

**AnyCable gem version:**
 1.0.0 preview

### What did you do?
 I have anycable-go server running behind a Nginx reverse proxy. From Nginx reverse proxy, I set the headers for Host. I ran the go server listening to 8080 port and have configured to fetch headers host, cookie and origin. My aim is to pass both host and origin as part of the header so that all

[2020-04-21 17:58] palkan commented on #96
As we can see from the `anycable-go` logs, the `Host` header is not provided in the request or empty.

Shouldn't there be `$host` instead of the `$http_host`? See https://docs.nginx.com/nginx/admin-guide/web-server/reverse-proxy/#headers and https://nginx.org/en/docs/http/ngx_http_core_module.html?#variables

[2020-05-04 20:06] SakthiGurunathan07 commented on #96
@palkan  Thanks for your reply. I tried with $host and $http_host, host header is always coming as blank. Even I tried hardcoding the host header value in nginx but still no luck. The workaround I have is to set a custom proxy header say "ANYCABLE_HOST" and enable the custom header in the go server and put a patch for 'allow_request_origin?' method to use ANYCABLE_HOST instead of HOST for allow_sa

[2020-05-12 11:33] #84 closed

[2020-05-14 11:02] adeniranolalekan opened #98 "AnyCable version 1.0 not installing successfully"
### Tell us about your environment
golang 1.14

**AnyCable-Go version:**
1.0

**AnyCable gem version:**
0.6

### What did you do?
tried to install using go get -u -f github.com/anycable/anycable-go/cmd/anycable-go

### What did you expect to happen?
to install and run successfully

### What actually happened?
it failed

Step 9/21 : RUN go get -u -f github.com/anycable/anycable-go/cmd/anycable-go

[2020-05-14 12:06] palkan commented on #98
Looks like this is a bug somewhere between Go and Ubuntu: https://github.com/golang/go/issues/37436 ([the comment with summary](https://github.com/golang/go/issues/37436#issuecomment-591327351)).

Downgrading to Go 1.13 should fix the problem for now. There is nothing on our side.

Or download the precompiled binary:

[code]

[2020-05-14 12:06] #98 closed

[2020-06-08 21:42] gr8bit commented on #91
Small update: we're still on it. MessagePack implementation is theoretically done but Protocol Buffers serialization generally needs more input to choose the correct Message to use. That's why we needed to introduce a few api changes... I will attach a PR soon. :)

[2020-06-10 18:11] #38 closed, assigned to nobody

[2020-06-14 13:18] danieldocki opened #103 "Docker Install Error"
### Tell us about your environment

**AnyCable-Go version:**
1.0.0rc1

**AnyCable gem version:**
1.0.0rc1

### What did you do?
Install anycable-go via Docker

### What did you expect to happen?
Successfully install

### What actually happened?
[code]

And anothers build's **Out of Memory occured**
Config is 1Gb Memory and 1 CPU

[code]

[2020-06-14 20:22] palkan commented on #103
Could you please provide more context (dockerfile, platform, etc.)? What do you exactly mean by "**Install** anycable-go via **Docker**"?

I see `Installing grpc 1.28.0 with native extensions` in the logs—that's from installing grpc gem, not anycable-go.

[2020-06-14 23:37] danieldocki commented on #103
I'm using clever cloud in a Ruby on Rails application, I think the service is similar to what is on heroku.

I added this Dockerfile to the project root and I used their service to run this Dockerfile

[code]

I don't think there's any way to install anycable-go on my application's server.

My idea is to run on another server.

[2020-06-15 07:50] palkan commented on #103
I guess, the first error says that Clever couldn't detect the running app within a container.

If it's similar to Heroku then you need to use a port provided by the platform for the application.

Take a look at: https://www.clever-cloud.com/doc/docker/docker/#tcp-support

Note, we're talking about anycable Ruby gem right now.

For anycable-go you can use an official Docker image: https://hub.docke

[2020-06-15 12:19] danieldocki commented on #103
Let me see if I understood.

To run the local RPC I'm doing this:

Procfile.dev
[code]

But in production probably I can only run a process that would be the WEB.

Would you have to have a server / process to run RPC and anycable-go?

[2020-06-15 12:50] palkan commented on #103
I'm not familiar with Clever but if it's similar to Heroku then yes. Take a look at our Heroku deployment guide: https://docs.anycable.io/v1/#/deployment/heroku

For AnyCable, you need two web servers (one handling HTTP requests — your Ruby/Rails app, another one to handle WebSockets — that's anycable-go) and also you need an RPC server (`bundle exec anycable`), which handles gRPC calls from `anyc

[2020-06-15 13:12] danieldocki commented on #103
Thank you very much for the explanation, I will use the heroku tutorial as a reference.

Then I update the question about.

[2020-06-15 13:12] #103 closed

[2020-06-24 08:56] palkan commented on #96
This has been fixed in 1.0.0.rc1. The problem was that anycable-go only passed the path part of the connection url, not the full url.
No need to specify any additional headers.

[2020-06-24 08:56] #96 closed

[2020-06-24 08:58] #75 closed

[2020-06-24 08:58] palkan commented on #75
Documented at https://docs.anycable.io/v1/#/anycable-go/configuration?id=disconnect-events-settings

[2020-06-24 09:01] palkan commented on #22
Пока остановимся на варианте с каналом.
Для массового броадкаста нужно также обновлять клиентскую часть (и, вероятно, протокол). В рамках 1.0 и совместимости с Action Cable это невозможно. Будем планировать в рамках 2.0 (унёс себе в беклог).

[2020-06-24 09:02] #22 closed

[2020-06-25 19:30] phlegx opened #105 "Redis Sentinel set passwords"
Hi there!

For `anycable-go` `1.0.0`, how can I set/pass a password for the Sentinels in ENV var

```ANYCABLE_REDIS_SENTINELS=127.0.0.1:26380,127.0.0.1:26381```

or is this maybe not possible yet?

Thank you in advance
Martin

[2020-06-25 19:49] palkan commented on #105
Correct.

I think, we can add passwords support and allow providing them using the following format:

[code]

And then we can use `url.Parse()` to extract this information: https://play.golang.org/p/tZp7d377Xpc

@rolandg Would you be interested in adding this enhancement?

[2020-07-03 13:50] eneeyac opened #107 "The "--metrics_host" option does not work in v1.0.0"
**AnyCable-Go version:**
1.0.0-33085f2

**AnyCable gem version:**
0.6.5

### What did you do?
I'm trying to specify the explicit "--metrics_host" option for Prometheus.
`$ /opt/anycable-go/v1.0.0/anycable-go-linux-amd64 --host 10.64.0.41 --log_level debug --metrics_host 10.64.0.41 --metrics_http /metrics --metrics_port 9109 --port 3334 --rpc_concurrency 3 --redis_url redis://10.64.0.12:6379/10`

#

[2020-07-03 14:12] palkan commented on #107
Thanks for reporting! The fix is on its way.

[2020-07-03 14:48] #107 closed

[2020-07-03 14:52] eneeyac commented on #107
@palkan , thanks for the quick solution!

[2020-07-06 10:31] #105 closed

[2020-07-07 14:56] palkan commented on #105
Released in 1.0.1.
Note that anycable gem v1.0.1 is also required.

[2020-07-07 18:13] SeekingMeaning opened #111 "Typo? "anycable-go-mrb-dawrin-amd64""
`dawrin` probably should be `darwin`

[2020-07-07 18:17] SeekingMeaning opened #112 "Windows binaries should have .exe suffix"
`anycable-go-win-386` &rarr; `anycable-go-win-386.exe`

[2020-07-08 07:22] palkan commented on #111
Yeah, definitely.

[2020-07-08 07:22] #111 closed

[2020-07-08 07:25] #112 closed

[2020-07-08 07:26] palkan commented on #112
Thanks for reporting! Fixed and will be applied to the future releases.

[2020-07-09 20:42] phlegx commented on #105
Hi @palkan!

First of all, thanks for the fix!

I tried now the new version but for some reason I cannot connect to my sentinel. Getting this error:

[code]

Using this config where `redis-master` is the `mymaster` Sentinel name. I tried the config below with and without password disabling in bitnami redis helm chart:

``
`env {
  name = "ANYCABLE_REDIS_SENTINELS"
  value = "redis://:${var.redis_p

[2020-07-10 08:19] palkan commented on #105
It should be `"${var.redis_password}@redis-master:26379"`, w/o `redis://`. Not sure that's the reason though but let's try.

[2020-07-10 08:32] phlegx commented on #105
Hi @palkan!

Thank you. I just tried your suggestion, but then I get this error:

[code]

[2020-07-10 08:35] palkan commented on #105
Could you please turn debug mode on (`ANYCABLE_DEBUG=1`) and share the logs?

[2020-07-10 08:45] phlegx commented on #105
@palkan sorry I just re-checked again this error was my mistake. I had a copy paste error and indeed there was a colon problem. I fixed it and now my string is same as yours:

```":${var.redis_password}@redis-master:26379"```

With that and ANYCABLE_DEBUG enabled I get:

[code]

[2020-07-10 08:48] Envek commented on #105
It looks like you have problem with name resolution (port 53 is usually used by DNS servers)

[2020-07-10 09:13] phlegx commented on #105
I think the issue might be that `redis-master` is the sentinel `mymaster`. I'm not even sure if that master name is a valid DNS, obviously not.

[2020-07-10 09:34] Envek commented on #105
No, it should not be valid hostname. It just a name under which it is known by Sentinels.
[code]
In this example `mymaster` is not a valid host. Only `anycable-redis-headless` should be name resolvable to Sentinels hosts.

Redis client connects to Sentinel at `anycable-redis-headless` port `26379` and asks “Where is `mymaster`?”, sentinel gives back address of actual Redis master instance.

[2020-07-10 10:00] phlegx commented on #105
Thanks so much @Envek your example/suggestion now works for me as well! :-)

[2020-07-17 12:09] phlegx commented on #105
@Envek

One more general question: Can or even should we use the single kubernetes `headless` instance here, or is it better to pass all three - more more - instance DNS?

[2020-07-17 12:46] Envek commented on #105
Yes it is assumed that Kubernetes service should be used to connect to Sentinels. Service will connect client app with random available sentinel.

While theoretically it is better to specify all sentinels in client app's configuration (so client library will try to access all three before reporting error), in practice it is cumbersome as it requires app reconfiguration every time you want to scale

[2020-07-22 09:06] rolandg commented on #83
@le0pard
Currently doing some tests.
Did you set these parameters on the nginx or on the anycable server?

[2020-07-22 09:09] le0pard commented on #83
@rolandg it is params for Linux kernel - https://wiki.archlinux.org/index.php/sysctl

[2020-07-26 19:40] gr8bit commented on #91
Small update: initially we attempted to externalize all the message encoding into a Go plugin (like `message_encoder.so`) but after severe problems with build incompatibilities we've given up on that. I'm currently working on the api changes necessary to be able to build anycable-go with another encoder. Once that runs, I'll do a PR with the API changes for the original JSON encoder.

[2020-08-27 15:35] palkan opened #119 "Add istate to Disconnect calls"
Related to https://github.com/anycable/anycable/issues/108

[2020-09-08 11:51] #119 closed

[2020-09-12 15:50] prwhitehead opened #121 "Nonexistent channel cached?"
### Tell us about your environment

**AnyCable-Go version:**

1.0.1 (Latest)

**AnyCable gem version:**

anycable (1.0.1)
anycable-rails (1.0.1)

### What did you do?

I added a test channel called `WelcomeChannel`, which I then deleted, however my AnyCable container errors because it thinks the subscription still exists.

I have grep'd the directory and there is no mention of  `WelcomeChannel` in

[2020-09-14 16:36] palkan commented on #121
The log also includes a client actions:

[code]

`Incoming message ...` logs are printed every time a client sends a message to a server. Hence, the WelcomeChannel subscription is attempted by some client (likely, a browser tab which hasn't been refreshed for a long time and, thus, having stale frontend code or trying to restore a broken connection with the old subscriptions).

[2020-09-24 00:58] tomjohn1028 opened #122 "[1.0.0] Metrics HTTP server causes websocket server to only accept local connections"
## Tell us about your environment

**AnyCable-Go version: 1.0.0-33085f2**

**AnyCable gem version: anycable (1.0.1)**

### What did you do?
Ran the following on an AWS EC2 instance
`anycable-go --host=ANYCABLE_GO_HOST --port=3334 --headers=cookie,origin --metrics_http=/metrics`

### What did you expect to happen?
I expected an anycable-go server to be listening for connections and _accepting outsi

[2020-09-24 06:17] palkan commented on #122
Looks like related to https://github.com/anycable/anycable-go/issues/107 and was fixed in #108. Could you please try to upgrade to 1.0.1?

[2020-09-24 14:54] tomjohn1028 commented on #122
@palkan 1.0.1 seems to have the issues resolved. Thank you!

[2020-09-24 14:54] #122 closed

[2020-10-31 04:43] Michaelvilleneuve opened #123 "Huge amount of incoming requests after deploy"
### Tell us about your environment

**AnyCable-Go version: 1.0**

**AnyCable gem version: 1.0.2**

### What did you do?

Deployed the app when **almost no one was connected to the APP**

### What did you expect to happen?

A reasonable number of unsubscribe / subscribes requests and CPU usage.
Doing the exact same deploy with ActionCable and the same number of connected people would not cause such

[2020-11-03 07:49] palkan commented on #123
Wow, that's huge.

Do you collect anycable-go [metrics](https://docs.anycable.io/#/v1/anycable-go/instrumentation?id=anycable-go-instrumentation)? It would be great to see RPC calls stats.

What do you see in a browser logs?

`unsubscribe` is called either directly (i.e., your via a client request) or during the `disconnect` phase (which is more likely).

Do you rely on Action Cable built-in recon

[2020-11-09 13:49] Michaelvilleneuve commented on #123
Hello, thanks for your response. Browser logs look just fine, the retry strategy seems fine too.
Yes we rely on Action Cable built-in reconnection mechanism. 😕
We do not collect those logs for now, I'll try to add them in the next few weeks.

[2020-12-10 19:47] daande opened #125 "Support for StatsD instrumentation"
Any plans to add statsd support?

[2020-12-14 17:43] palkan commented on #121
Closed as stale.

[2020-12-14 17:43] #121 closed

[2020-12-24 08:44] palkan commented on #123
Hey @Michaelvilleneuve! Any updates?

[2021-01-19 17:40] scalp42 commented on #83
@le0pard at which layer you made the sysctl change? the Nginx or Anycable one?

[2021-01-19 17:44] le0pard commented on #83
@scalp42 sysctl changes was made on system/OS level.

[2021-01-19 18:11] scalp42 commented on #83
@le0pard right but on which host? the Nginx one or Anycable host?

[2021-01-19 18:12] le0pard commented on #83
It was the same host in my case @scalp42

[2021-01-25 16:32] eneeyac commented on #83
Hi, guys
I have a similar issue with my anycable environment.

The anycable-go server is behind the Nginx reverse proxy and according to ngx_http_stub_status_module (http://nginx.org/en/docs/http/ngx_http_stub_status_module.html)  I see near 80 active connections that look close to reality for that period of time for my app.

![image](https://user-images.githubusercontent.com/8155206/105734092-f22

[2021-04-27 14:07] palkan commented on #123
Closed as stale

[2021-04-27 14:07] #123 closed

[2021-05-18 07:00] palkan opened #134 "Add Origin check"
Currently, we verify origin at the Action Cable side (e.g., during the Connect RPC call). Although it makes migration from Action Cable to AnyCable easier (no need to change the verification settings), it could be useful to prevent undesired connections as soon as possible—at the anycable-go side.

The proposal is to add the `-allowed-origins` configuration option to perform the Origin check durin

[2021-05-18 11:49] #134 closed

[2021-06-22 16:17] AlexWayfer opened #138 "Failed to handle incoming with error: Application error:"
### Tell us about your environment

**AnyCable-Go version:** 1.1.1-7c02027

**AnyCable gem version:** v1.0.3

### What did you do?

Uses `reject` method inside `Channel`.

https://api.rubyonrails.org/classes/ActionCable/Channel/Base.html#class-ActionCable::Channel::Base-label-Rejecting+subscription+requests

### What did you expect to happen?

Rejection and no errors.

### What actually happened?

[2021-06-23 15:45] palkan commented on #138
Thanks for reporting.

Subscription rejection should be logged as error, definitely.

Fixed by https://github.com/anycable/anycable-go/commit/9483f39a49035d6b7b9b8d877d1537b796f2278b

[2021-06-23 15:45] #138 closed

[2021-09-30 15:54] palkan commented on #91
Closing since it has been implemented as a part of Pro version: https://docs.anycable.io/anycable-go/binary_formats

[2021-09-30 15:54] #91 closed

[2021-11-10 03:51] bradrees opened #141 "Client cannot reconnect after going to sleep"
### Tell us about your environment

**AnyCable-Go version: 1.0, 1.1

**AnyCable gem version: 1.0, 1.1

### What did you do?

When a device goes sleep, after waking the client is not able to reconnect to the websocket. The connection is immediately terminated. Even calling window.reload does not fix the issue.

Note that this is most noticeable when using an iOS WKWebView or Electron, the web brows

[2021-11-10 09:23] bradrees commented on #141
I've been trying to test this all day, and so far I've not had much in the way of a solution.

Firstly on the client every 20 seconds the network tab will try to connect to /cable and respond with the following after a while:
``WebSocket is closed before the connection is established.``

I've had some scenarios where I can have one browser connect, while the other does not, then if I restart the s

[2021-11-10 09:33] bradrees commented on #141
Adding to it, if you reload the page (Normal reload, hard reload, clear cache and hard reload), it does not fix it

[2021-11-10 17:47] palkan commented on #141
Thanks for the detailed report and the PR!

I will take a look tomorrow.

[2021-11-11 15:38] palkan commented on #141
Any logs at the anycable-go side? (with `-debug` on or `ANYCABLE_DEBUG=1`)?

Do you track [failed_auths](https://docs.anycable.io/anycable-go/instrumentation) metrics?

That's interesting. No sign of `Connect`/`Disconnect` in the logs?

Which client-side library do you use and how you handle reconnects?

[2021-11-11 23:07] bgaj opened #143 "GRPC max message size"
### Tell us about your environment

**AnyCable-Go version: 1.1.3-35cdedf**

**AnyCable gem version: 1.0.3**

### What did you do?

I try to receive message large message (over 5MB). I set ANYCABLE_MAX_MESSAGE_SIZE to 10M.

### What did you expect to happen?

Receive a message

### What actually happened?
I get error:
`error: rpc error: code = desc = Received message larger than max (6994086 vs. 41

[2021-11-16 11:48] #143 closed

[2021-11-16 12:09] palkan commented on #143
Added `rpc_max_call_recv_size` and `rpc_max_call_send_size` in v1.1.4.

[2021-11-18 03:24] bradrees commented on #141
Thanks for taking a look!

There is no connect or disconnect messages with -debug, when I track the metrics it doesn't show any connections or auth failures with --metrics_log. It is basically silent. I added additional logging to the handler.go, right at the top of the method to see if it even gets as far as registering a connection attempt, but there is nothing logged.

It also takes a while for

[2021-12-09 08:43] bradrees commented on #141
I have an update - I have tried using a query string and that did not help, so I then tried using multiple subdomains. At first appeared to help, however we've seen the issue again on Safari Desktop. It also means that sometimes it will take quite a lot longer to reconnect as the first connection needs to timeout first - we've set it to try the alternate subdomain after 5 seconds of not establishi

[2021-12-09 23:25] bgaj commented on #143
@palkan There is still problem with increasing the limit above 4194304. In opossite direcetion everything works fine

[2021-12-21 11:28] bgaj commented on #143
@palkan Did you have time to check it again?

[2021-12-21 17:16] palkan commented on #143
Hey @bgaj,

Yeah, I've been triaging it today.

It looks like we also need to adjust server settings.
Here is what I tried: `ANYCABLE_RPC_SERVER_ARGS__MAX_RECEIVE_MESSAGE_LENGTH=10000000 bundle exec anycable`. GRPC errors disappeared (but my local client failed to read that amount of data). Haven't had a chance to test with a real browser.

[2022-03-16 08:16] str1nker opened #146 "JWT auth enhancements"
### Tell us about your environment

**AnyCable-Go version:** 1.2

**AnyCable gem version:** 1.2.2

Trying to use anycable-go server JWT auth brings some difficulties:
1) Hard coded connection identifier JWT claim ( `ext` ) . Sometimes it's hard to edit JWT as it could be from another auth service like `Keycloak`.
2) Hard coded connection identifier type (`string`). Same issue as above.
3) Seems li

[2022-03-16 08:30] palkan commented on #146
Hey!

Let's start with the latter one:

Yep, that's the point of AnyCable JWT Identification—_pre-identify_ a user and avoid calling RPC. That also explains the format of the token contents (1 and 2).

If you want to use your custom JWT authentication, you should just let `anycable-go` to perform an RPC call and not to anything else. For that, you need to disable this feature.

[2022-03-16 08:30] #146 closed

[2022-06-08 20:32] tleish opened #148 "TurboDrive/TurboStream Subscribe/Unsubscribe Race Condition"
## SUMMARY
I've noticed a Subscribe/Unsubscribe race condition with navigating pages using TurboDrive.  When leaving a page and going to a new one, an unsubscribe/subscribe event is sent.  However, these are sent to the server at the same timestamp in the browser logs.

## DETAILS

anycable-go logs sometimes show the following Unsubscribed/Subscribed events:

### OK SCENARIO

BROWSER

![image](htt

[2022-06-08 21:18] palkan commented on #148
Thanks for the report!
Looks at the logs, I could say that this is the `anycable-go` related issue (that's why I transferred it).

Could you please tell me which `anycable-go` version do you use?

Interesting; shouldn't Turbo preserve streams during navigation, in case we subscribe to the same one? That would make sense. (Though the question for the different project 🙂).

[2022-06-08 22:00] tleish commented on #148
I wondered if this might the server or client.

We are using anycable-go 1.2.0

to the same one? That would make sense.

That’s what I would’ve thought, but if we are using the anycable js client,
wouldn’t it manage the stream instead of turbo?

Our application page load times is fairly fast, so perhaps this is what
revealed the race condition (a short time between disconnect and connect)?

[2022-06-09 05:25] palkan commented on #148
revealed the race condition

Yeah, it seems.

wouldn’t it manage the stream instead of turbo?

It would; but our stream source element is a copy of the Turbo one. And [it calls unsubscribe](https://github.com/anycable/anycable-client/blob/8d86540637429f468420a9af2bd8a9d828a3a1a2/packages/turbo-stream/stream_source_element.js#L26) as soon as DOM element is detached. Actually, we can fix it at the c

[2022-06-14 00:30] tleish commented on #148
That makes sense why id disconnects/reconnects each time.  Not sure what additional overhead this causes.

[2022-06-18 00:00] inspire22 opened #149 "readme shows invalid "go get" command"
I get this error:
root@blah~# go get -u -f github.com/anycable/anycable-go/cmd/anycable-go
go: -f flag is a no-op when using modules
go: go.mod file not found in current directory or any parent directory.
        'go get' is no longer supported outside a module.
        To build and install a command, use 'go install' with a version,
        like 'go install example.com/cmd@latest'
        For mor

[2022-06-22 02:30] #149 closed

[2022-06-22 02:30] palkan commented on #149
Thanks! Fixed.

[2022-06-23 19:52] tleish commented on #148
We reverted our production environment back to ActionCable.  Any updates or something I can do to help?

[2022-06-24 23:12] jwako commented on #148
I don't know if it's related, but I've got the same situation.
In my case, I don't use TurboDrive.

I could reproduce the same situation with the code below.

[code]

With this code, anycable-go 1.0 is no problem. But when I upgrade to 1.1, it happens and 1.2 also.

When I just delete `stop_all_streams` in `follow` method, the problem no longer occurs.
I hope this helps.

[2022-06-28 18:18] palkan commented on #148
Did you switch to Action Cable client or server?

Action Cable server has the same problem with handling incoming messages asynchronously (and concurrently) (as its mentioned in the issue you linked in the description).

I was thinking about handling this server-side, but it couldn't be solved completely without some client-side improvements.

[2022-06-28 19:46] tleish commented on #148
We switched both server/client back to ActionCable.  We didn't think it safe to use AnyCable server with an ActionCable client.

In addition, we have concerns with the Hotwire code inside the AnyCable client getting out of sync.  I watched the video and understand the limitations of a plugin approach, but I would prefer to use the main Hotwire libraries with an AnyCable plugin.

I believe this is

[2022-06-28 22:25] jwako commented on #148
I use `@rails/actioncable` `6.1.4-1` and my client code is below:

[code]

No.

The problem is the order of Unsubscribed/Subscribed events differs.
When `follow` calls in my code `BadgeNotificationChannel`, `stop_all_streams` should calls `Unsubscribe`, and `stream_from` should calls `Subscribe`.
But actually when `follow` calls, `Subscribe` calls, and then `Unsubscribe` calls.
So I cannot send an

[2022-06-29 15:59] palkan commented on #148
It's absolutely safe; both clients use the same protocol.

Yeah, I agree. I'm working on a fix for anycable-client right now.

[2022-06-29 16:42] palkan commented on #148
@jwako Thanks!

That's the problem I was thinking about in the first place (and why I moved the issue here), and it's a server-side race condition. The fix is also on my plate for this week.

[2022-06-30 14:42] tleish commented on #148
Can we still use the [JWT identification](https://docs.anycable.io/anycable-go/jwt_identification?id=jwt-identification) hot-stream without an RPC server approach using the ActionCable client?

[2022-06-30 21:33] palkan commented on #148
The server-side race condition has been fixed and released in [1.2.1](https://github.com/anycable/anycable-go/releases/tag/v1.2.1). /cc @jwako

Closing this one.

Client-side issue has been moved here: https://github.com/anycable/anycable-client/issues/15 /cc @tleish

[2022-06-30 21:33] #148 closed

[2022-07-08 02:05] palkan commented on #141
Hey @bradrees!

Any updates on the issue?

[2022-09-19 06:02] sunnmas opened #155 "became root"
**AnyCable-Go version:1.2
Hello. I use the official docker image, I see that the user is nobody. Is there any option to become root? The certificates that I attach to the container are obtained in another container and belong to root. Accordingly, it is not possible to launch anycable-go --port=443 -ssl_cert=path/to/ssl.cert -ssl_key=path/to/ssl.key due to lack of permissions. Please help. Detaile

[2022-09-20 14:15] palkan commented on #155
The simplest solution would be to build a custom image to provide custom functionality. You can try multi-stage builds for that, smth like:

[code]

P.S. The alpine suggestion from Habr also looks like a potential solution.

[2022-09-20 20:57] sunnmas commented on #155
Thanks for your answer! I have solved the problem of accessing certificates. I generate certificates using the let'sencrypt service. They are in pem format. These are the same certificates that I use for nginx. I have registered entrypoint: /usr/local/bin/anycable-go --port=443 -ssl_cert=/ssl/.../full chain.pem -ssl_key=/ssl.../privkey.pem. The container starts, but gives this in the logs: RC cont

[2022-09-20 22:15] sunnmas commented on #155
I'm sorry - everything worked out, I used the ws link instead of wss

[2022-09-21 00:52] #155 closed

[2022-10-04 01:53] palkan opened #156 "Cookies filter"
### Context

When using cookie-based authentication, we send the value of the Cookie header in every RPC request. Cookies could contain a lot of data (especially, when using trackers, etc.), but the application usually needs a few of them. The proposal is to make it possible to select only specific cookies and reduce the RPC payload size.

### Proposal

Add `--proxy-cookies` option, which accepts

[2022-10-10 02:46] palkan commented on #156
Hey @rafaelrubbioli!

Sure, you're welcome! Feel free to ask any questions here.

[2022-10-10 21:14] rafaelrubbioli commented on #156
hey @palkan I opened a PR for this! https://github.com/anycable/anycable-go/pull/157

[2022-10-18 20:45] #156 closed

[2022-11-24 17:05] palkan commented on #141
Closed as stale

[2022-11-24 17:05] #141 closed